.nav{
    background: $primary-color;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-nav{
    background: $primary-color;
    color:$white;
    border: none;
}

.div-cards {
    width: 100%;
    height: 65vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.card {
    padding: 0.5em;
    box-shadow: 40px; 
    height:160px; 
    border-style: solid;
    margin-bottom: 1em;
    border-color: $primary-color;  
    
}

.txt-card {
    color: $text-color;
    font-size: 0.9em;
    padding: 1em 0.5em;
}

.description-card {
    color: $text-color;
    font-size: 1em;
}