.div-footer {
    background-color: $primary-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}