.main{
    width: 100%;
    max-width: 360px;
    height: 630px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}

.div-logo {
    padding: 1em;
    margin-bottom: 1em;
}

.logo {
    width: 100%;
}

.input-form{
    width: 15em;
    height: 3em;
    margin: 1em 0;
    color: $text-color;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    border-bottom-color: $primary-color;
    outline: 0;
}

.btn-login{
    margin-top: 4.5rem;
    width: 250px;
    color: $white;
    font-size: 1.5em;
    font-weight: 400;
    background-color:$primary-color;
    border: 2px solid $primary-color;
    padding: .375rem .75rem;
    border-radius: 80px;
    &:focus {
        outline: none;
    }
}