
$pink: #153959;
$button:#DC582A;
$icon:#B7B7B7;
$noto: 'Noto Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

.main{
    max-width: 350px;
    width: 100%;
    height: 630px;
    border:1px solid $button;
    padding: 60prgb(192, 174, 174)px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }
  .img-ts{
    margin-top: 160px;
}
.text-center{
    font-family: $roboto;
    color: $icon;
}
.login{
    background-color:$button;
    border: 2px solid #DC582A;
    box-sizing: border-box;
    border-radius: 80px;
    width: 250px;
}
.input-form{
    border: none;
}

