.div-welcome {
  padding: 1em 0em 0em 0.8em;
  height: 75vh;
  overflow: auto;
}

.txt-color-on {
  color: $primary-color
}

.txt-color-off {
  color: $gray
}

.txt-color-normal {
  color: $text-color
}

.welcome-hi {
  color: $primary-color;
  font-size: 1.5em;
}

.btn-options {
  display: flex;
  align-items: center;
  padding: 0em 0.5em;
  margin-bottom: 1.1em;
  background-color: $white;
  width: 345px;
  height: 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px -4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 1px 0px 20px;
  border: none;
  outline: none;
}

.div-txt {
  height: 100%;
  margin-left: 4px;
  width: 290px;
  padding: 0.3em;
  margin-top: 0.5em;
  text-align: left;
  align-items: center;
}

.txt-title {
  margin: 0em;
  width: 278px;
}

.txt-p {
  font-size: 0.8em;
  line-height:1.3em;
  width: 260px;
}

.space-p {
  margin-bottom: 2em;
}

.icon_next_off {
  padding: 0;
  margin: 0;
}
